* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

h1 {
  font-size: 7em;
  font-family: 'Bangers', cursive;
  color: #2341d3;
  text-align: center;
}

container {
  text-align: center;
}

  .players {
    margin: 5% auto;
    border-left-width: 1px;
    width: 200px;
  }

  .fa-5x {
      font-size: 12em;
  }

  .btn {
    margin-top: 2%;
    font-size: 20px;
    cursor: help;
  }

  .instructions {
    margin: 5% auto;
    border-left-width: 1px;
    width: 350px;
  }
